@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Get a Job you Bumb</h1>
    <form class="form-action no-color" method="get">
        <div>
            <p>
                Job Search:
                <input type="text" asp-for="SearchString"/>
                <input type="submit" value="Search" class="btn btn-primary"/>
            </p>
        </div>
    </form>
    <a asp-area="" asp-page="/EmployerDetails">JobSeekers</a>

    <div class="container" style="width: 50vw">
        @foreach (var item in Model.JobListings)
        {
            @if (await Model.HasApplied(item.ID))
            {
                ViewData["AppliedValue"] = "Already Applied";
            }
            else
            {
                ViewData["AppliedValue"] = "Apply";
            }
            <div class="mb-4">
                <card class="card p-2">
                            <h5 class="card-title">@($"{item.Name} | {item.Salary:c} per year")</h5>
                        <p class="card-text">@item.Description</p>
                        <form asp-page="./Index" method="post" asp-route-id="@item.ID">
                            <input type="submit" class="btn btn-primary" style="width: 7vw;" value="@ViewData["AppliedValue"]"/>
                    </form>
                </card>
            </div>
        }
    </div>
</div>
